* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #18242c; */
}

h1, p {
    text-align: center;
    margin: 3%;
    /* color: #fff; */
}

/* p {
    color: #fff;
} */

.container {
    margin: auto;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 61%;
    /* height: 635px; */
    grid-auto-rows: 200px;
    grid-gap: 8px;
} 

.container2 {
    margin: auto;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 61%;
    grid-auto-rows: 200px;
    grid-gap: 8px;
    margin-top: 2%;
}

.h {
    /* grid-column: 1 / 4; */
}

.element {
    text-align: center;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.s-block {
    background: #ff9999;
}

.f-block {
    background: #9bff99;
}

.d-block {
    background: #99ccff;
}

.p-block {
    background: #fdff8c;
}